{% extends 'base/base.html' %}
{% block title %}
    Gallery
{% endblock title %}

{% block head %}
    <h1>Find images of the equipment we are so proud of<span>.</span></h1>
{% endblock head %}
{% block body %}

    <div class="container mt-5">

        <div class="row">


            {% for image in images %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ image.caption }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <br>
            <br>


        </div>
    </div>





{% endblock body %}